<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'neenan/style.css' %}" />
        <title>Neenan</title>
        
        <script type="text/javascript" src="{% static 'neenan/angular.js' %}"></script> 
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'neenan/navbar.js' %}"></script>
        <script type="text/javascript" src="{% static 'neenan/listviews.js' %}"></script>
        <script type="text/javascript" src="{% static 'neenan/composers.js' %}"></script>
    </head>
    <body>
        <div class="container" ng-app="neenan" >
            <div class="column navbar">
                <h1 class="myclass">Neenan</h1>
                <h2>Media Views</h2>          
                <ul>
                    <li class="myclass">Composers</li>
                    <li>Albums</li>
                    <li>Artists</li>
                </ul>
                <h2>Playlists</h2>          
                <ul>
                    <li>No playlists</li>
                </ul>
            </div>
            <div class="column browser" ng-controller="composers">
                <h1>Composers</h1>
                <div class="composer">
                    <div style="left:0px;width:350px;">
                    Sergei Rachmaninoff: 1873 - 1943
                    </div>
                </div>
                <div class="composer">
                    <div style="left:5px;width:385px;">
                    Arnold Schoenberg: 1874 - 1951
                    </div>
                </div>
                <div class="composer">
                    <div style="left:10px;width:310px;">
                    Maurice Ravel: 1875 - 1937
                    </div>
                </div>
                <div class="composer">
                    <div style="left:45px;width:445px;"> Igor Stravinsky: 1882 - 1971</div>
                </div>
                <div class="composer">
                    <div style="left:90px;width:310px;">
                    Sergei Prokofiev: 1891 - 1953
                    </div>
                </div>
                <div class="composer">
                    <div style="left:125px;width:190px;">
                    George Gershwin: 1898 - 1937
                    </div>
                </div>
                <div class="composer">
                    <div style="left:135px;width:450px;">
                    Aaron Copland: 1900 - 1990
                    </div>
                </div>
                <div class="composer">
                    <div style="left:165px;width:345px;">
                    Dmitri Shostakovich: 1906 - 1975
                    </div>
                </div>
                <div class="composer">
                    <div style="left:225px;width:360px;">
                    Leonard Bernstein: 1918 - 1990
                    </div>
                </div>
            </div>
            <div class="column listview">
                List view/queue!
            
	<table border = 1  width = 200 cellpadding = 0 >
	
	<tr>
	<div id = "box1">
	<p>Some Stuff</p>
	</div>
	<div id = "box2">
	<p>Other Stuff</p>
	</div>
	</tr>
	
	</table>
	</div>
        </div>
    </body>
</html>
