<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'neenan/style.css' %}" />
        <title>Neenan</title>
        
        <script type="text/javascript" src="{% static 'neenan/angular.js' %}"></script> 
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'neenan/navbar.js' %}"></script>
        <script type="text/javascript" src="{% static 'neenan/listviews.js' %}"></script>
        <script type="text/javascript" src="{% static 'neenan/composers.js' %}"></script>


</style>
	</head>
    <body>

        <div class="container" ng-app="neenan" >
            <div class="column navbar">
                <h1>Neenan</h1>
                <h2>classical</h2>          
                <p class="selected">Composers</p>
                <p>Performers</p>
                <p>Type</p>
                <h2>non-classical</h2>          
                <p>Albums</p>
                <p>Artists</p>
                
                <h2>other</h2>          
                <p>Imports</p>
                <p>Recently added</p>

                <h2>playlists</h2>          
                <p class="selected">Queue</p>

            </div>

            <div class="composerview" ng-controller="composers">
                <h1>Composers</h1>
                <div class="composer" style="left:15px;width:350px;">
                    Sergei Rachmaninoff: 1873 - 1943
                </div>
                <div class="composer" style="left:20px;width:385px;">
                    Arnold Schoenberg: 1874 - 1951
                </div>
                <div class="composer" style="left:25px;width:310px;">
                    Maurice Ravel: 1875 - 1937
                </div>
                <div class="composer" style="left:60px;width:445px;"> 
                Igor Stravinsky: 1882 - 1971
                </div>
                <div class="composer" style="left:115px;width:310px;">
                    Sergei Prokofiev: 1891 - 1953
                </div>
                <div class="composer" style="left:140px;width:190px;">
                    George Gershwin: 1898 - 1937
                </div>
                <div class="composer" style="left:150px;width:450px;">
                    Aaron Copland: 1900 - 1990
                </div>
                <div class="composer" style="left:180px;width:345px;">
                    Dmitri Shostakovich: 1906 - 1975
                </div>
                <div class="composer" style="left:240px;width:360px;">
                    Leonard Bernstein: 1918 - 1990
                </div>
                <div class="timeline">
                    <div style="left:150px;"> 1900 </div>
                    <div style="left:400px;"> 1950 </div>
                </div>
            </div>

            <div class="column listview">
                <h1>Current Queue</h1>
	              <div id = "listview">
	                  Beethoven: Symphony No. 3, Eroica
	              </div>
	              <div id = "listview">
	                  Chopin: Nocturne in E Flat Major, Op. 9 No. 2
	              </div>
	              <div id = "listview">
	                  Beethoven: Symphony No. 6, Pastoral
	                  <ul id = "listview" >
	                      <li>Example 1</li>
	                      <li>Example 2</li>
	                  </ul>
	              </div>
	          </div>
        </div>
    </body>
</html>
